<p>
  Productos por comprar {{ myShoppingCar.length }}
</p>
<p>
  Total a pagar Q{{ total }}
</p>
<p>
  <!-- hacemo uso del pipe date para formatear la fecha-->
  Hoy: {{ today | date:'long'}}
</p>
<p>
  <!-- hacemo uso del pipe date para formatear la fecha-->
  Otra fecha: {{ date | date:'yyyy-dd-MM'}}
</p>
<p>
  <!-- hacemo uso del pipe creado por mi mismo y usando la libreria date-fns -->
  Valor: {{ date | timeAgo}}
</p>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products; index as i"
    (addedProduct)="onAddToShoppingCart($event)"
  ></app-product>
</div>
