<div class="show-mobile">
    <div>
        <button (click)="toggleMenu()" type="button">
            <img src="../../../assets/img/menu.png" alt="menu icon">
        </button>
        <a href="">
            <img src="../../../assets/img/logo.png" alt="logo">
        </a>
        <a href="">
            <img src="../../../assets/img/shopping-car.png" alt="shopping car">
        </a>
    </div>
    <div class="side-menu" [class.active]="activeMenu">
        <button (click)="toggleMenu()">Close</button>
        <ul>
            <li><a href="">All</a></li>
            <li><a href="">clothes</a></li>
            <li><a href="">Electronics</a></li>
        </ul>
    </div>
</div>
<div class="hide-mobile">
    <div>
        <nav>
            <a href="" class="logo">
                <img src="../../../assets/img/logo.png" alt="logo">
            </a>
            <ul>
                <li><a href="">All</a></li>
                <li><a href="">Clothes</a></li>
                <li><a href="">Electronics</a></li>
            </ul>
        </nav>
        <div class="info">
            <div class="account">markos.guate7@gmail.com</div>
            <div class="cart">
                <a href="">
                    <img src="../../../assets/img/shopping-car.png" alt="shopping car">
                </a>
                <span class="counter">{{ counter }}</span>
            </div>
        </div>
    </div>
</div>
